<div class="col-xs-12" style="margin-bottom:10px;">
  <div class="alert alert-danger" ng-show="!!errorMessage">{{errorMessage}}</div>
  <form name="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" type="text" ng-model="username" ng-required="true"/>
      <div ng-messages="form.username.$error">
        <div ng-message="required">Username field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password" ng-model="password" ng-required="true"/>
      <div ng-messages="form.password.$error">
        <div ng-message="required">Password field is required</div>
      </div>
    </div>
    <button class="btn btn-success" ng-click="login()">Login</button>
  </form>
</div>
