<div class="jumbotron">
  <h1>Hello {{user.username}}</h1>
  <p class="col-xs-12" style="
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
">Token: {{user.token}}</p>
</div>

<div class="row marketing">
<button class="btn btn-success btn-lg pull-right" ng-click="logout()">Logout</button>
</div>
